.feature__spotlight__list {
  ul {

    margin: 0;
    padding: 0;

    list-style-type: none;

    font-size: 1.4rem;
    font-weight: var(--fontWeightLight);

    li {
      display: flex;

      margin: 0;
      padding: 1.25rem 0;
      align-items: center;

      & > * {
        margin-right: 0.5rem;
      }

      & > img {
        margin-right: 1rem;
      }
    }
  }
}