body.single-post {
  .entry-header {
    position: relative;

    padding: 3vh 0;

    user-select: none;
    pointer-events: none;

    color: white;

    background-color: var(--darkGray);
    background-position: center center;
    background-size: cover;

    @media (--tablet) {
      padding: 7vh 0;
    }

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;

      display: block;

      width: 100%;

      content: "";

      background-color: rgba(var(--darkGray), 0.75);
    }

    &--withBackground {

    }

    & > * {
      position: relative;
    }

    .container {
      display: flex;
      flex-direction: column;

      min-height: 200px;
      justify-self: stretch;

      @media (--tablet) {
        min-height: 250px;
      }
    }

    .entry-type {
      a {
        text-decoration: none;

        letter-spacing: 0.15rem;

        text-transform: uppercase;

        color: white;

        font-size: 0.7rem;

        font-weight: var(--fontWeightBold);
        line-height: 2;

        @media (--tablet) {
          font-size: 1rem;
        }
      }
    }

    .entry-title {
      position: relative;

      display: flex;

      flex-direction: column;

      margin-top: 2.7vh !important;

      color: white;

      font-size: 150%;

      font-weight: var(--fontWeightLight);
      flex: 1;

      @media (--tablet) {
        font-size: 375%;
      }

      @media (--turd-browser) {
        flex: none;
      }
    }

    .entry-meta {
      display: flex;

      font-size: 1rem;
      font-weight: var(--fontWeightLight);

      @media (--tablet) {
        font-size: 1.4rem;
      }
    }
  }

  .entry-content {
    padding: 5vh 0;

    font-size: 22px;
    line-height: 2rem;

    a {
      text-decoration: none;

      color: var(--brandPrimary);

      font-style: italic;

      &:hover {
        text-decoration: underline;
      }
    }

    ul,
    ol {
      margin: 0;
      padding: 0;

      list-style-position: inside;

      li {
        margin-bottom: 1rem;
      }
    }

    ol {
      list-style: none;

      counter-reset: list-counter;

      li {
        counter-increment: list-counter;

        &:before {
          margin-right: 0.5rem;

          content: counter(list-counter)".";

          font-weight: var(--fontWeightBold);
        }
      }
    }

    blockquote {
      @apply --boxShadow;

      margin: 3rem 0;
      padding: 1rem 2.5vw;

      color: var(--darkGray);

      border-left: 5px solid var(--darkGray);

      border-radius: 5px;
      background-color: var(--lightGray);

      p:first-child:last-child {
        margin-bottom: 0;
      }
    }

    .alignleft {
      float: left;

      margin-right: 2rem;
      margin-bottom: 2rem;
    }

    .alignright {
      float: right;

      margin-bottom: 2rem;

      margin-left: 2rem;
    }
  }

  .entry-footer {
    margin-top: 3vh;

    @media (--tablet) {
      margin-top: 8vh;
    }

    & > .container {
      padding-top: 3vh;

      border-top: 1px solid var(--darkGray);

      @media (--tablet) {
        padding-top: 8vh;
        padding-bottom: 8vh;
      }
    }
  }
}
