html {

  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

  font-size: 18px;

  line-height: 1.75rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
  text-rendering: geometricPrecision;
}

body {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1rem;
}

strong {
  font-weight: var(--fontWeightBold);
}

p:first-child {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 1.25em 0 0.2em;

    font-weight: var(--fontWeightSemibold);
    line-height: 1.2;
    text-rendering: optimizelegibility;
}

h1,
.h1 {
  margin-top: 1em;

  font-size: 300%;

  @media (--tablet) {
    font-size: 420%;
  }

  sup {
    top: -1rem;

    font-size: 25%;

    @media (--tablet) {
      top: -1rem;
    }

    @media (--desktop) {
      top: -1.5rem;
    }

    @media (--large-desktop) {
      top: -2rem;
    }
  }
}

h2,
.h2 {
  @media (--tablet) {
    font-size: 285.7%;
  }
}

h3,
.h3 {
  font-size: 160%;

  @media (--tablet) {
    font-size: 200%;
  }
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
    margin-top: 1.75em;

    margin-bottom: 0.5em;

    line-height: 1.4;
}

h4,
.h4 {
    font-size: 135%;

    sup {
      top: -0.5rem;

      font-size: 0.7rem;
    }
}

h5,
.h5 {
  @media (--tablet) {
    font-size: 115%;
  }

  sup {
    top: -0.1rem;

    font-size: 1.2rem;
  }
}

h6,
.h6 {
    text-transform: uppercase;

    font-size: 100%;
}

.fw-light {
  font-weight: var(--fontWeightLight) !important;
}

.fw-normal,
.fw-medium,
.fw-med {
  font-weight: var(--fontWeightNormal) !important;
}

.fw-semibold {
  font-weight: var(--fontWeightSemibold) !important;
}

.fw-bold {
  font-weight: var(--fontWeightBold) !important;
}

.fs-large {
  font-size: 120%;
  line-height: 1.75;
}

.fs-larger {
  font-size: 140%;
  line-height: 2;
}
