/* Base Styles */
@import "./_base";
@import "./_typography";
@import "./_utility";
@import "./_layout";
@import "./_forms";

/* Components */
@import "./components/atoms/buttons";
@import "./components/molecules/categories-impacted";
@import "./components/molecules/entry-footer";
@import "./components/molecules/donut-chart";
@import "./components/molecules/ebook-form";
@import "./components/molecules/feature__spotlight";
@import "./components/molecules/hero-header";
@import "./components/molecules/icon__list";
@import "./components/molecules/icon__group";
@import "./components/molecules/icon__sequence__list";
@import "./components/molecules/modal";
@import "./components/molecules/offscreen-bg";
@import "./components/molecules/partners__list";
@import "./components/molecules/team__member";
@import "./components/molecules/testimonial__list";
@import "./components/molecules/vce-classic-tabs";
@import "./components/organisms/animation";
@import "./components/organisms/site-header";
@import "./components/organisms/site-content";
@import "./components/organisms/site-footer";
@import "./components/organisms/eversight-resource-library";
@import "./components/molecules/howItWorks__sections";

/* Pages */
@import "./pages/home";
@import "./pages/posts";
@import "./pages/consumer-goods";
@import "./pages/retail";

/* Vue Component Styles */
@import "../../components/CaseStudies/CaseStudies";

:root {
  --brandPrimary: #30d17d;
  --brandSecondary: #00bad3;
  --white: #ffffff;
  --lightGray: #f3f3f3;
  --gray: #b0afad;
  --darkGray: #44484f;
  --black: #21292c;
  --maxWidth: 1330px;
  --headerHeight: 80px;
  --footerHeight: 110px;
  --fontWeightLight: 300;
  --fontWeightNormal: 400;
  --fontWeightSemibold: 500;
  --fontWeightBold: 700;
  --fontAwesome: "Font Awesome 5 Light";

  --boxShadow: {
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  }
}

@custom-media --phone (min-width: 576px);
@custom-media --tablet (min-width: 768px);
@custom-media --desktop (min-width: 992px);
@custom-media --large-desktop (min-width: 1330px);
@custom-media --turd-browser screen and (-ms-high-contrast: active),
                             screen and (-ms-high-contrast: none);
