.site-footer {
  display: flex;
  flex-direction: column;

  padding: 1rem 0 0;

  color: var(--lightGray);
  background-color: #545859;

  &__logo {

    display: flex;
    overflow: visible;

    width: 150px;

    text-align: center;
    justify-content: center;

    @media (--tablet) {
      text-align: left;
    }

    a {
      display: block;
      overflow: visible;

      width: 100%;

      text-align: center;

      svg {
        @media (--turd-browser) {
          height: 35px;
        }
      }
    }
  }

  &__navigation {
    display: flex;

    text-align: right;
    flex: 1;
    justify-content: center;

    &__list {
      display: flex;

      flex-direction: column;

      width: 100%;
      margin: 0 0 1rem;
      padding: 0;

      list-style: none;

      font-size: 0.9rem;
      font-weight: var(--fontWeightSemibold);
      justify-content: center;

      @media (--tablet) {
        flex-direction: row;

        margin-bottom: 0;

        font-size: 1rem;
        justify-content: flex-end;
      }

      & > .menu-item {
        margin: 0;

        text-align: center;

        @media (--tablet) {
          margin: 0 1rem;

          text-align: right;
        }
        a {
          text-decoration: none;

          color: inherit;
        }
        &:hover a {
          color: var(--brandPrimary);
        }
      }
    }
  }

  & > .container {
    @media (--tablet) {
      margin: 1rem auto;
    }
  }

  .container {
    display: flex;
    align-items: center;

    flex-direction: column;

    @media (--tablet) {
      flex-direction: row;
    }
  }

  .site-sub-footer {
    color: var(--gray);
    background-color: #424345;

    font-size: 0.7rem;
  }
}
