.site-header {
  font-family: var(--fontFamilySerif);

  & .vce-row-container {
    width: 100%;
  }

  & p {
    display: none;
  }
}

.bing {
  display: flex;
  line-height: 1;
  color: #273954;
  margin-top: 4px;

  & .ba {
    padding: 5px;
    height:12px;
    width:12px;
  }
}
.site-header .bing,
.vcv-header .bing {
  margin-top: 13px;
}

.vce-basic-menu-container .vce-basic-menu nav>ul.menu>li.menu-item>a {
  font-weight: 300;
}
